body {
    background: #F7F7F7;
}
main {
    color: white;
    font-size: 32.6667px;
    text-align: center;
    font-family: Rosarivo;
    line-height: 1.6em;
    max-width: 980px;
    margin: 8px auto;
}
section {
    background: #FFF;
    padding: 1em 3em;
    margin-top: 64px;
    margin-bottom: 64px;
    border: 1px solid #CCC;
    border-top: 1px solid #DDD;
    border-bottom: 1px solid #BBB;
    box-shadow: 0 10px 26px -10px #999;
}
span:hover {
    background: rgba(0, 178, 255, 0.35);
}

@media (max-width: 1180px) { section { margin-bottom: 32px; margin-top: 32px } }
@media (max-width: 1100px) { section { margin-bottom: 16px; margin-top: 16px } }
@media (max-width: 1020px) { section { margin-bottom: 8px;  margin-top: 8px } }
